{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <section class="newsletter no-padding-top" style="padding-top: 70px !important;">    
    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <form method="post" action="">
                {% csrf_token %}
                <h1>Are you sure you want to delete?</h1><br>
                <input class="btn btn-primary btn-sm col-sm-6" type="submit" value="Yes" />
                <br>
                <br>
                <a class="btn btn-info btn-sm col-sm-6" href="{% url 'list_ecus' %}">Cancel</a>
            </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}