{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_head %}
<link href="{% static 'css/nprogress.css' %}" rel="stylesheet">
<link href="https://cdn.datatables.net/1.11.2/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="" style="padding-top: 40px; padding-bottom: 50px;">    
  <div class="container">
    <div class="col-md-4 offset-9 pb-5" style="padding-left: 60px;">
      <a class="btn btn-primary" href="{% url 'add_items_ecus' %}">Add Item</a>
      <a class="btn btn-info" href="{% url 'import_excel_ecus' %}">Import Excel</a>
    </div>
    <div class="row">
      <div class="col-md-2">
            <form method='POST'>
              {% csrf_token %}
              <!-- {{ form | crispy }} -->
              <div id="div_id_type_code" class="form-group"> 
                <label for="id_type_code" class="">
                  Type code
                </label> 
                <div class=""> 
                  <input type="text" name="type_code" maxlength="50" class="textinput textInput form-control" id="id_type_code"> 
                </div> 
              </div>

              <div id="div_id_from_country" class="form-group"> 
                <label for="id_from_country" class="">
                  Country
                </label> 
                <div class=""> 
                  <input type="text" name="from_country" maxlength="50" class="textinput textInput form-control" id="id_from_country"> 
                </div> 
              </div>

              <div class="form-check">
                <input type="checkbox" name="export_to_CSV" class="form-check-input" id="id_export_to_CSV">
                <label class="form-check-label" for="id_export_to_CSV">Export to CSV</label>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            <br>
        </div>
        <div class="col-md-10" style="overflow-x: scroll;">
          <table id="itemTable" class="table table-hover table align-middle">
            <caption>List of items</caption>
            <thead>
            <tr>
                <th>No</th>
                <th>Account Number</th>
                <th>Registered Date</th>
                <th>Type Code</th>
                <th>Goods No</th>
                <th>NPL/SP Code</th>
                <th>ERP Code</th>
                <th>HS</th>
                <th>Item Name</th>
                <th>Country</th>
                <th>Unit Price</th>
                <th>Taxed Price</th>
                <th>Total</th>
                <th>Unit</th>
                <th>Total 2</th>
                <th>Unit 2</th>
                <th>NT value</th>
                <th>Total value</th>
                <th>Tax rate</th>
                <th>Tax cost</th>
                <th>Partner</th>
                <th>Bill</th>
                <th>Bill date</th>
                <th>Contract</th>
                <th>Contract date</th>
            </tr>
            </thead>
            <tbody>
              {% for instance in queryset %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{instance.account_number}}</td>
                    <td>{{instance.registered_date}}</td>
                    <td>{{instance.type_code}}</td>
                    <td>{{instance.goods_no}}</td>
                    <td>{{instance.npl_sp_code}}</td>
                    <td>{{instance.erp_code}}</td>
                    <td>{{instance.hs}}</td>

                    <td><a href="{% url 'update_ecus' instance.id %}">{{instance.item_name}}</a></td>
                    <td>{{instance.from_country}}</td>
                    <td>{{instance.unit_price}}</td>

                    <td>{{instance.unit_price_taxed}}</td>
                    <td>{{instance.total}}</td>
                    <td>{{instance.unit}}</td>

                    <td>{{instance.total_2}}</td>
                    <td>{{instance.unit_2}}</td>
                    <td>{{instance.nt_value}}</td>

                    <td>{{instance.total_value}}</td>
                    <td>{{instance.tax_rate}}</td>
                    <td>{{instance.tax_cost}}</td>

                    <td>{{instance.partner}}</td>
                    <td>{{instance.bill}}</td>
                    <td>{{instance.bill_date}}</td>

                    <td>{{instance.contract}}</td>
                    <td>{{instance.contract_date}}</td>
                    <!-- <td><a href="{% url 'delete_items' instance.id %}">Delete</a></td>
                    <td><a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a></td> -->
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</section>
{% endblock content %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery.ui.widget@1.10.3/jquery.ui.widget.js"></script>
<script src="{% static 'js/paging.js' %}"></script>
<script src="{% static 'js/nprogress.js' %}"></script>
<script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.2/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/custom_paging.js' %}"></script>
{% endblock extra_scripts %}