{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_head %}
<link href="{% static 'css/nprogress.css' %}" rel="stylesheet">
<link href="https://cdn.datatables.net/1.11.2/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block content %}


  
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form class="form-inline pt-5">
        <div class="form-group mb-2">
            <label for="id_category" class=" requiredField">
              Category &#160;
            </label> 
            <div class=""> 
              <input type="text" name="description" maxlength="50" class="textinput textInput form-control" id="id_description"> 
            </div>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="id_item_name" class="">
            Item name &#160;
            </label> 
            <div class=""> 
              <input type="text" name="item_name" maxlength="50" class="textinput textInput form-control" id="id_item_name"> 
            </div>
        </div>
        <button type="submit" class="form-group">Search</button>
        </form>
      </div>
      <div class="form-inline" style="padding-left: 150px; padding-top: 40px;">
          <a class="btn btn-primary form-group" href="{% url 'add_items' %}">Add Item</a>
          <a class="btn btn-info form-group" href="{% url 'import_excel' %}">Import Excel</a>
      </div>
  </div>
</div>

<section class="" style="padding-top: 20px; padding-bottom: 50px;">    
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="overflow-x: scroll;">
        {% if queryset.all %}
          <table id="itemTable" class="table table-hover table align-middle">
            <caption>List of items</caption>
            <thead>
              <tr>
                <th rowspan="2" colspan="1" >
                  No
                </th>
                <th rowspan="2" colspan="1">
                  Acount Description
                </th>
                <th rowspan="2" colspan="1">
                  Item Name
                </th>
                <th rowspan="2" colspan="1">
                  Ecus code
                </th>
                <th rowspan="2" colspan="1">
                  Item Description
                </th>
                <th rowspan="1" colspan="3">
                  Beginning Inventory
                </th>
                <th rowspan="1" colspan="3">
                  PR Purchase Receipt
                </th>
                <th rowspan="1" colspan="3">
                  MR Production Receipt
                </th>
                <th rowspan="1" colspan="3">
                  OR Unplanned Receipt
                </th>
                <th rowspan="1" colspan="3">
                  Stock Transfer Receipt
                </th>
                <th rowspan="1" colspan="3">
                  PI Issue for production
                </th>
                <th rowspan="1" colspan="3">
                  DI Sales Issue
                </th>
                <th rowspan="1" colspan="3">
                  OI Unplanned Issue
                </th>
                <th rowspan="1" colspan="3">
                  Stock Transfer Issue
                </th>
            </tr>
            <tr>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
              {% for instance in queryset %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{instance.description}}</td>
                    <td>{{instance.item_name}}</td>
                    <td><a href="{% url 'update_items' instance.id %}">{{instance.ecus_code}}</a></td>
                    <td>{{instance.item_desciption}}</td>
                    
                    <td>{{ instance.begin_quantity | floatformat:-2 }}</td>
                    <td>{{ instance.get_beginning_amount | floatformat:-2 }}</td>
                    <td>{{ instance.begin_price | floatformat:-2 }}</td>

                    <td>{{ instance.pr_purchase_quantity | floatformat:-2 }}</td>
                    <td>{{ instance.get_pr_purchase_amount | floatformat:-2 }}</td>
                    <td>{{ instance.pr_purchase_price | floatformat:-2 }}</td>

                    <td>{{ instance.mr_production_quantity | floatformat:-2 }}</td>
                    <td>{{ instance.get_mr_production_amount | floatformat:-2 }}</td>
                    <td>{{ instance.mr_production_price | floatformat:-2 }}</td>

                    <td>{{ instance.or_unplanned_quantity | floatformat:-2 }}</td>
                    <td>{{ instance.get_or_unplanned_amount | floatformat:-2 }}</td>
                    <td>{{ instance.or_unplanned_price | floatformat:-2 }}</td>

                    <td>{{ instance.stock_transfer_quantity | floatformat:-2 }}</td>
                    <td>{{ instance.get_stock_transfer_amount | floatformat:-2 }}</td>
                    <td>{{ instance.stock_transfer_price | floatformat:-2 }}</td>

                    <td>{{ instance.pi_issue_production_quantity | floatformat:-2 }}</td>
                    <td>{{ instance.get_pi_issue_production_amount | floatformat:-2 }}</td>
                    <td>{{ instance.pi_issue_production_price | floatformat:-2 }}</td>

                    <td>{{ instance.di_sale_issue_quantity | floatformat:-2 }}</td>
                    <td>{{ instance.get_di_sale_issue_amount | floatformat:-2 }}</td>
                    <td>{{ instance.di_sale_issue_price | floatformat:-2 }}</td>

                    <td>{{ instance.oi_unplanned_issue_quantity | floatformat:-2 }}</td>
                    <td>{{ instance.get_oi_unplanned_issue_amount | floatformat:-2 }}</td>
                    <td>{{ instance.oi_unplanned_issue_price | floatformat:-2 }}</td>

                    <td>{{ instance.stock_transfer_issue_quantity | floatformat:-2 }}</td>
                    <td>{{ instance.get_stock_transfer_amount | floatformat:-2 }}</td>
                    <td>{{ instance.stock_transfer_issue_price | floatformat:-2 }}</td>
                    <td>
                      <a href="{% url 'delete_items' instance.id %}">Delete</a>
                      <a href="{% url 'stock_detail' instance.id %}">Detail</a>
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
            {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-light mb-4" href="?page=1{% if request.GET.description %}&description={{ request.GET.description }}{% endif %}{% if request.GET.item_name %}&item_name={{ request.GET.item_name }}{% endif %}">First</a>
                <a class="btn btn-light mb-4" href="?page={{ page_obj.previous_page_number }}{% if request.GET.description %}&description={{ request.GET.description }}{% endif %}{% if request.GET.item_name %}&item_name={{ request.GET.item_name }}{% endif %}">Previous</a>
              {% endif %}

              {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                  <a class="btn btn-info mb-4" href="?page={{ num }}{% if request.GET.description %}&description={{ request.GET.description }}{% endif %}{% if request.GET.item_name %}&item_name={{ request.GET.item_name }}{% endif %}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                  <a class="btn btn-light mb-4" href="?page={{ num }}{% if request.GET.description %}&description={{ request.GET.description }}{% endif %}{% if request.GET.item_name %}&item_name={{ request.GET.item_name }}{% endif %}">{{ num }}</a>
                {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
                <a class="btn btn-light mb-4" href="?page={{ page_obj.next_page_number }}{% if request.GET.description %}&description={{ request.GET.description }}{% endif %}{% if request.GET.item_name %}&item_name={{ request.GET.item_name }}{% endif %}">Next</a>
                <a class="btn btn-light mb-4" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.description %}&description={{ request.GET.description }}{% endif %}{% if request.GET.item_name %}&item_name={{ request.GET.item_name }}{% endif %}">Last</a>
            {% endif %}
            {% endif %}
            <a class="btn btn-info" href="{% url 'export_csv_iob' %}?{% if request.GET.description %}&description={{ request.GET.description }}{% endif %}{% if request.GET.item_name %}&item_name={{ request.GET.item_name }}{% endif %}" style="margin-bottom: 24px; float: right;">EXPORT CSV</a>
          </table>
          {% else %}
          <h2>No items to be showed</h2>
          {% endif %}
        </div>
      </div>
    </div>
</section>
{% endblock content %}