<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    {% block extra_head %}
    {% endblock %}
</head>


<body>

    {% include 'header.html' %}

    {% if messages %}
        <div>
            <ul>
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{% if message.tags == success %}Success!{% endif %}</strong> {{ message }}
                </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% block content %}
    {% endblock content %}

    {% include 'footer.html' %}
    {% include 'scripts.html' %}

    {% block extra_scripts %}
    {% endblock extra_scripts %}

</body>

</html>